<div class="max-w-5xl mx-auto relative mt-16">
    {{ svg src="/assets/site/scratches" class="absolute text-gray-800 mt-8 top-0 left-0 w-20 hidden md:block" }}
    <article class="py-32 max-w-2xl mx-auto">
        <header class="content mb-16">
            <h1>{{ title }}</h1>
            {{ content | widont }}
        </header>
        <div id="js_paginate_me">
            {{ partial:pagination/articles }}
        </div>
    </article>
</div>

<script>
    function fetchPagination(page) {

        let baseUrl = '/api/partials/articles'
        let url = (page ? `${baseUrl}?page=${page}` : baseUrl)

        fetch(url)
        .then(response => response.text())
        .then(html => {
            document.querySelector('#js_paginate_me').innerHTML = html;
        })
    }

    // fetchPagination();
</script>